<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="UserDatatype" type="kr.ac.computereng.labmanager.common.datatype.UserDatatype"/>
		<typeAlias alias="BoardDatatype" type="kr.ac.computereng.labmanager.common.datatype.BoardDatatype"/>
		<typeAlias alias="ReplyDatatype" type="kr.ac.computereng.labmanager.common.datatype.ReplyDatatype"/>
	</typeAliases>
</configuration>

